<div class="col-sm-3 left-side" style="min-height: 698px;"><aside>
    <ul>
        <li id='dashboard'>
            <a routerLink='/{{dashboard}}/dashboard' [routerLinkActive]="['side_nav_active']" (click)="setParentId('dashboard')"><i><img src="assets/images/dashboard.png" alt="icon"/></i> Dashboard </a>
        </li>
        <li id="manageuser1" >
            <a style="cursor:pointer;" (click)="Toggle('manageuser1')"><i><img src="assets/images/manage_user.png" alt="icon"/></i> Manage User<span class="pull-right" style="margin-right:15px;"><img src="assets/images/plus.png" alt="img"/></span></a>
          <ul>
            <li><a routerLink="/admin/manageservice" (click)="setParentId('manageuser1')" [routerLinkActive]="['side_nav_active']" id='manage_services'><i><img src="assets/images/manage_company.png" alt="icon"/></i> Manage Service Provider</a></li>
            <li><a routerLink="/admin/managecustomer" (click)="setParentId('manageuser1')" [routerLinkActive]="['side_nav_active']" id='manage_customer'><i><img src="assets/images/manage_customer.png" alt="icon"/></i> Manage Customer</a></li>
            <li><a routerLink='/admin/managecompany'  (click)="setParentId('manageuser1')" [routerLinkActive]="['side_nav_active']" id='manage_company'><i><img src="assets/images/manage_company.png" alt="icon"/></i> Manage Company</a></li>
          </ul>
        </li>
        <li id="settings1">            
            <a style="cursor:pointer;" (click)="Toggle('settings1')"><i><img src="assets/images/settings.png" alt="img"/></i> Settings<span class="pull-right" style="margin-right:15px;"><img src="assets/images/plus.png" alt="img"/></span></a>
            <ul>
              <li><a routerLink="/admin/managesubscription" (click)="setParentId('settings1')" [routerLinkActive]="['side_nav_active']" ><i><img src="assets/images/manage_subscription.png" alt="icon"/></i> Manage Subscription Plan</a></li>
              <li><a routerLink="/admin/manageTemplate" (click)="setParentId('settings1')" [routerLinkActive]="['side_nav_active']" ><i><img src="assets/images/manage_template.png" alt="icon"/></i> Manage Template</a></li> 
              <li><a routerLink='/admin/addCategory' (click)="setParentId('settings1')" [routerLinkActive]="['side_nav_active']" ><i><img src="assets/images/manage_category.png" alt="icon"/></i> Manage Category</a></li>
          </ul>
        </li>
        <li id='reports'>
            <a routerLink="/admin/reports" [routerLinkActive]="['side_nav_active']" (click)="setParentId('reports')" ><i><img src="assets/images/reports.png" alt="icon"/></i> Reports</a>
        </li>        
    </ul>
</aside></div>