<app-header></app-header>
<section class="admin-dashbord">
  <div class="container-fluid">
      <app-company-sidemenu></app-company-sidemenu>
          <div class="col-sm-9 right-side">            
          <div class="graph-tab customer-das manage-dash-temp" *ngIf="ContractDetails">
            <div class="row page_heading_row">
                <div class="col-sm-3 page_heading_button"><button class='btn btn-success' (click)="backClicked()">Back</button></div>
            </div>
              <div class="company-bg">
                <div class="company-bg-outer">
                  <div class="conpany-left">
                    <h1>Service Provider Details</h1>
                    <div class="conpany-left-bg">
                      <div class="conpany-left-bg-icon"><i class="fa fa-user-o" aria-hidden="true"></i></div>
                      <div class="conpany-left-bg-text">
                        <div class="conpany-left-bg-text-left"> Name:</div>
                        <div class="conpany-left-bg-text-right"> {{ ContractDetails.provider.first_name }} </div>
                      </div>
                    </div>
                   <div class="conpany-left-bg">
                      <div class="conpany-left-bg-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                      <div class="conpany-left-bg-text">
                        <div class="conpany-left-bg-text-left"> Email: </div>
                        <div class="conpany-left-bg-text-right">{{ ContractDetails.provider.Email }} </div>
                      </div>
                    </div>
                     <div class="conpany-left-bg">
                      <div class="conpany-left-bg-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                      <div class="conpany-left-bg-text">
                        <div class="conpany-left-bg-text-left"> Phone: </div>
                        <div class="conpany-left-bg-text-right">{{ ContractDetails.provider.Phone }}</div>
                      </div>
                    </div>                   
                  </div>
                  <!----//End Company Left ---->

                  <div class="conpany-left">
                    <h1>Customer Details</h1>
                    <div class="conpany-left-bg">
                      <div class="conpany-left-bg-icon"><i class="fa fa-user-o" aria-hidden="true"></i></div>
                      <div class="conpany-left-bg-text">
                        <div class="conpany-left-bg-text-left"> Name:</div>
                        <div class="conpany-left-bg-text-right"> {{ ContractDetails.customer.first_name }} </div>
                      </div>
                    </div>
                   <div class="conpany-left-bg">
                      <div class="conpany-left-bg-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                      <div class="conpany-left-bg-text">
                        <div class="conpany-left-bg-text-left"> Email: </div>
                        <div class="conpany-left-bg-text-right">{{ ContractDetails.customer.Email }} </div>
                      </div>
                    </div>
                     <div class="conpany-left-bg">
                      <div class="conpany-left-bg-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                      <div class="conpany-left-bg-text">
                        <div class="conpany-left-bg-text-left"> Phone: </div>
                        <div class="conpany-left-bg-text-right">{{ ContractDetails.customer.Phone }}</div>
                      </div>
                    </div>      
                  </div>
                  <!----//End Company Right ----> 

                </div>
                <!----//End Company Outer ----> 
              </div>
              <div class="company-bg">
                <div class="company-bg-outer">
                  <div class="conpany-left">
                    <h1>Contract Details</h1>
                    <div class="conpany-left-bg">
                      <div class="conpany-left-bg-icon"><i class="fa fa-user-o" aria-hidden="true"></i></div>
                      <div class="conpany-left-bg-text">
                        <div class="conpany-left-bg-text-left"> Contract Name:</div>
                        <div class="conpany-left-bg-text-right"> {{ ContractDetails.Contract_Name }} </div>
                      </div>
                    </div>
                    <div class="conpany-left-bg">
                      <div class="conpany-left-bg-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                      <div class="conpany-left-bg-text">
                        <div class="conpany-left-bg-text-left"> Price (ETH): </div>
                        <div class="conpany-left-bg-text-right">{{ ContractDetails.Contract_Price }}</div>
                      </div>
                    </div>
                    <div class="conpany-left-bg">
                      <div class="conpany-left-bg-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                      <div class="conpany-left-bg-text">
                        <div class="conpany-left-bg-text-left">Start Date: </div>
                        <div class="conpany-left-bg-text-right">{{ ContractDetails.Contract_StartDate  | date: 'mediumDate' }}</div>
                      </div>
                    </div>
                    <div class="conpany-left-bg">
                      <div class="conpany-left-bg-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                      <div class="conpany-left-bg-text">
                        <div class="conpany-left-bg-text-left">End Date: </div>
                        <div class="conpany-left-bg-text-right">{{ ContractDetails.contract_end_date  | date: 'mediumDate' }}</div>
                      </div>
                    </div>
                    <div class="conpany-left-bg">
                      <div class="conpany-left-bg-icon"><i class="fa fa-circle" aria-hidden="true"></i></div>
                      <div class="conpany-left-bg-text">
                        <div class="conpany-left-bg-text-left"> Status: </div>
                        <div class="conpany-left-bg-text-right"> {{ ContractDetails.status == 0 ? 'In Progress':'Complete' }}</div>
                      </div>
                    </div>
                  </div>                  
                </div>
                <!----//End Company Outer ----> 
              </div>
                
                
               <div class='company-bg'>
                          <h2>
                              Milestone(s)
                          </h2>
                          </div>
              <div class="clearfix"></div>
              <div class="panel-group" *ngFor="let milestone of ContractDetails.milestones; let row_no = index">
                   
                <div class="panel panel-default">
                    
                    <a data-toggle="collapse" href="#collapse{{row_no + 1}}">
                        <div class="panel-heading" style="border-bottom: 1px solid #eee;">

                              <h4 class="panel-title">
                                  {{milestone.name =='' ? 'Milestone ' + (row_no + 1)   : milestone.name }}
                              </h4>
                        </div>
                    </a>                        
                  <div id="collapse{{row_no + 1}}" class="panel-collapse in" style='padding: 10px;' aria-expanded="true">
                        <div class="btn-approved-absolute"> 
                            <a *ngIf="milestone.Status==2"  href="javascript:void(0)" class="btn-approved" (click)="ChangeMilestoneStatus(milestone.id,3,milestone.blockchain_id)"> Complete </a>
                            <a *ngIf="milestone.Status==6"  data-toggle="tooltip" title="Update Milestone" class='btn-edit' (click)="updateMilestone(milestone.id)">
                                Edit
                            </a>
                            <a data-toggle="tooltip" title="View Milestone History" class='btn-edit' (click)="viewMilestoneHistory(milestone.id)">
                                View History
                            </a>
                        </div>
                     
                        <div class="company-bg-outer">
                            <div class="conpany-left">
                              <div class="conpany-left-bg">
                                <div class="conpany-left-bg-text-left">Name : </div>
                                <div class="conpany-left-bg-text-right"> {{milestone.name =='' ? 'Milestone ' + (row_no + 1)   : milestone.name }}</div>
                              </div>
                              <div class="conpany-left-bg">
                                <div class="conpany-left-bg-text-left"> Start Date </div>
                                <div class="conpany-left-bg-text-right">{{ milestone.Start_Date  | date: 'mediumDate' }}</div>
                              </div>
                              <div class="conpany-left-bg">
                                <div class="conpany-left-bg-text-left">Execution of Work: </div>
                                <div class="conpany-left-bg-text-right">{{ milestone.Milestone_Work_execution }} </div>
                              </div>
                              <div class="conpany-left-bg">
                                <div class="conpany-left-bg-text-left"> Taxes (%):</div>
                                <div class="conpany-left-bg-text-right">{{ milestone.taxes }} </div>
                              </div>
                              <div class="conpany-left-bg">
                                <div class="conpany-left-bg-text-left">Penalties (%):</div>
                                <div class="conpany-left-bg-text-right">{{ milestone.penalties }}</div>
                            </div>
                                
                               <div class="conpany-left-bg">
                                <div class="conpany-left-bg-text-left">Status: </div>
                                <div class="conpany-left-bg-text-right"> {{ milestone.milestone_status.status_for_company }} </div>
                              </div>

                            </div>
                            <!----//End Company Left ---->
                            <div class="conpany-left">
                                <div class="conpany-left-bg">
                                    <div class="conpany-left-bg-text-left">End Date: </div>
                                    <div class="conpany-left-bg-text-right"> {{ milestone.End_Date | date: 'mediumDate'  }} </div>
                                </div>
                                
                                <div class="conpany-left-bg">
                                  <div class="conpany-left-bg-text-left">Schedule: </div>
                                  <div class="conpany-left-bg-text-right">{{ milestone.Milestone_schedule }}</div>
                                </div>
                                <div class="conpany-left-bg">
                                  <div class="conpany-left-bg-text-left">Fee (ETH): </div>
                                  <div class="conpany-left-bg-text-right"> {{ milestone.Milestone_fee }} </div>
                                </div>
                                <div class="conpany-left-bg">
                                  <div class="conpany-left-bg-text-left">Payment Status: </div>
                                  <div class="conpany-left-bg-text-right">{{ milestone.Payment_Status == 0 ? 'Pending':'Complete' }}</div>
                                </div>
                            </div>
                            <div class="conpany-left-full">
                                <div class="conpany-left-bg">
                                    <div class="conpany-left-bg-text-left"> Comments:</div>
                                    <div class="conpany-left-bg-text-right">{{ milestone.comments }}</div>
                                </div>
                            </div>

                        </div>
                    
                    <div class="clearfix">                      
                    </div>
                      
                  </div>
                </div>
              </div>
          </div>
          </div>
      </div>          
  </section>
<app-footer></app-footer>


