<app-header></app-header>
<section class="admin-dashbord">
        <div class="container-fluid">
            <app-company-sidemenu></app-company-sidemenu>
            <div class="col-sm-9 right-side">
                <h2>Select Subscription Package</h2>
              <div class="graph-tab customer-das">
                  <div class="row" *ngFor="let u of Subscriptions">
                        <div class="well col-sm-3" style="margin-left:20px;">
                            Package Price<p>{{u.packagePrice}}</p>
                            Package Name<p>{{u.packageName}}</p>
                            renewal Frequency<p>{{u.renewalFrequency}}</p>
                            <button type="submit" class="btn btn-success" click="Upgrade(u.idSubscriptions)">Submit</button>
                        </div>
                  </div>
              </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>
