<app-header></app-header>
<section class="admin-dashbord">
<div class="container-fluid">
    <app-sidemenu></app-sidemenu>
        <div class="col-sm-9 right-side">
        <div class="graph-tab customer-das manage-dash-temp">
            <div class="row mnage-user-forms page_heading_row">
                <div class="col-sm-6">
                    <span class='page_heading'>Manage Template</span>
                </div>
                <div class="col-sm-6 page_heading_button">
                        <button class="btn btn-info page_heading_button" routerLink="/admin/createTemplate">Add New Template</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordeditTemplateered">
                    <thead>
                        <tr class="active">
                            <th>S.No.</th>
                            <th>Template Name</th>
                            <th>Template Category</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-wht" *ngFor="let u of ViewTemplate; let row_no = index">
                            <td>{{row_no + 1}}</td>
                            <td>{{u.Template_Name}}</td>
                            <td>{{u.Category_Name}}</td>
                            <td>{{u.Status==0 ?'InActive':'Active'}}</td>
                            <td><i class="fa fa-pencil" aria-hidden="true" style="margin-right:10px;" (click)="changePage(u)"></i> <i class="fa fa-trash" aria-hidden="true" (click)="ConfirmDelete(u.idTemplate)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
        <a href="#" class="footer-logo"><img src="assets/images/footer-logo.png" alt="logo-footer"/></a>
</section>
<app-footer></app-footer>
<div class="modal fade" id="message" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Message</h4>
    </div>
    <div class="modal-body">
        <h4>Message! {{message}}</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
    </div>
</div>
</div>
<div class="modal fade" id="cnfrmDelete" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Message</h4>
    </div>
    <div class="modal-body">
        <h4>Do you Want To Delete</h4>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="DeleteTemplate()">Delete</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
    </div>
</div>
</div>