<app-header></app-header>
<section class="admin-dashbord" style="min-height: 698px;">
    <div class="container">
        <h3>Enter Email Registered with your Account</h3>
        <form (ngSubmit)="Submit()" #heroForm1="ngForm">  
            <div class="form-group">
            <label for="lemail">Email</label>
            <input type="text" class="form-control" id="lemail"
            required
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
            [(ngModel)]="model.email" name="lemail"
            #lemail="ngModel">
            <div [hidden]="lemail.valid || lemail.pristine"
                class="alert alert-danger">
                <div [hidden]="!lemail.hasError('required')">Email is required</div>
                <div [hidden]="!lemail.hasError('pattern')">Only alphabetsallowed</div>
            </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!heroForm1.form.valid" >Submit</button>
        </form>
    </div>      
</section>
<app-footer></app-footer>
<div class="modal fade" id="message" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Message</h4>
    </div>
    <div class="modal-body">
        <h4>Message! {{message}}</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
    </div>
</div>
</div>