<app-header></app-header>
<section class="admin-dashbord">
<div class="container-fluid">
    <app-sidemenu></app-sidemenu>
        <div class="col-sm-9 right-side">
        <div class="graph-tab customer-das manage-dash-temp">
            <div class="row mnage-user-forms">
                <div class="col-sm-9">
                <h3>Manage Service Provider</h3>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-default" data-toggle="modal" data-target="#myModal1" style="width:150px;" (click)="formreset(hervvvbbvvoForm)">Create</button>
            </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                <thead>
                        <tr class="active">
                            <th>User Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Service Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-wht"  *ngFor="let u of ServiceProvider">
                            <td>{{u.first_name}}</td>
                            <td>{{u.Phone}}</td>
                            <td>{{u.Email}}</td>
                            <td>{{u.User_Type}}</td>
                            <td><i class="fa fa-pencil" aria-hidden="true" style="margin-right:10px;" data-toggle="modal" data-target="#myModal3" (click)="changeModal(u)"></i><i class="fa fa-trash" aria-hidden="true" (click)="ConfrmDelete(u.idUsers)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
        <a href="#" class="footer-logo"><img src="assets/images/footer-logo.png" alt="logo-footer"/></a>
</section>
<app-footer></app-footer>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Service Provider</h4>
    </div>
    <div class="modal-body">
            <form (ngSubmit)="EditServiceProvider()" #heroForm="ngForm">  
                    <div class="form-group">
                    <label  for="Email">Email</label>
                    <input type="text" class="form-control" id="Email"
                    required
                    [(ngModel)]="model.Email" name="Email"
                    #Email="ngModel">
                    <div [hidden]="Email.valid || Email.pristine"
                        class="alert alert-danger" style="margin-top:10px;">
                        <div [hidden]="!Email.hasError('required')">Email is required</div>
                    </div>
                    </div>


                    <div class="form-group">
                    <label  for="Phone">Phone</label>
                    <input type="text" class="form-control" id="Phone"
                    required
                    [(ngModel)]="model.Phone" name="Phone"
                    #Phone="ngModel">
                    <div [hidden]="Phone.valid || Phone.pristine"
                        class="alert alert-danger" style="margin-top:10px;">
                        <div [hidden]="!Phone.hasError('required')">Phone is required</div>
                    </div>
                    </div>


                    <div class="form-group">
                    <label  for="first_name">first_name</label>
                    <input type="text" class="form-control" id="first_name"
                    required
                    [(ngModel)]="model.first_name" name="first_name"
                    #first_name="ngModel">
                    <div [hidden]="first_name.valid || first_name.pristine"
                        class="alert alert-danger" style="margin-top:10px;">
                        <div [hidden]="!first_name.hasError('required')">first_name is required</div>
                    </div>
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
                </form>
    </div>
    </div>
</div>
</div>

<div class="modal fade" id="myModal1" >
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >Add Service Provider</h4>
    </div>
    <div class="modal-body">
            <form (ngSubmit)="AddServiceProvider()" #hervvvbbvvoForm="ngForm">  

                    <div class="form-group">
                    <label  for="firstname">First Name<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="firstname"
                    required
                    maxlength="20" 
                    [(ngModel)]="model.firstname" name="firstname"
                    #firstname="ngModel">
                    <div [hidden]="firstname.valid || firstname.pristine"
                        class="alert alert-danger" style="margin-top:10px;">
                        <div [hidden]="!firstname.hasError('required')">FirstName is required</div>
                    </div>
                    </div>


                    <div class="form-group">
                    <label for="lastname">Last Name<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="lastname"
                    required
                    maxlength="20" 
                    [(ngModel)]="model.lastname" name="lastname"
                    #lastname="ngModel">
                    <div [hidden]="lastname.valid || lastname.pristine"
                        class="alert alert-danger" style="margin-top:10px;">
                        <div [hidden]="!lastname.hasError('required')">LastName is required</div>
                    </div>
                    </div>


                    <div class="form-group">
                    <label for="email">Email<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="email"
                    required
                    maxlength="50" 
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                    [(ngModel)]="model.email" name="email"
                    #email="ngModel">
                    <div [hidden]="email.valid || email.pristine"
                        class="alert alert-danger" style="margin-top:10px;">
                        <div class="ddddddd" [hidden]="!email.hasError('required')">Email is required</div>
                        <div [hidden]="!email.hasError('pattern')">Enter a Valid Email Pattern</div>
                    </div>
                    </div>


                    <div class="form-group">
                    <label for="password">Password<span style="color:red">*</span></label>
                    <input type="password" class="form-control" id="password"
                    required
                    maxlength="50" 
                    [(ngModel)]="model.password" name="password"
                    #password="ngModel">
                    <div [hidden]="password.valid || password.pristine"
                        class="alert alert-danger" style="margin-top:10px;">
                        <div [hidden]="!password.hasError('required')">Password is required</div>
                    </div>
                    </div>


                    <div class="form-group">
                    <label for="phone">Phone<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="phone"
                    required
                    pattern="[0-9]*"
                    minlength="10"
                    maxlength="10" 
                    [(ngModel)]="model.phone" name="phone"
                    #phone="ngModel">
                    <div [hidden]="phone.valid || phone.pristine"
                        class="alert alert-danger" style="margin-top:10px;">
                        <div class="ddddddd" [hidden]="!phone.hasError('required')">Phone is required</div>
                        <div class="ddddddd" [hidden]="!phone.hasError('pattern')">Only Numbers Are Allowed</div>
                        <div [hidden]="!phone.hasError('minlength')">Enter Atleast 10 Numbers</div>
                    </div>
                    </div>

                <button type="submit" class="btn btn-success" [disabled]="!hervvvbbvvoForm.form.valid">Submit</button>
            </form>
    </div>
    </div>
</div>
</div>

<div class="modal fade" id="message" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Message</h4>
    </div>
    <div class="modal-body">
        <h4>Message! {{message}}</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
    </div>
</div>
</div>
<div class="modal fade" id="cnfrmDelete" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Message</h4>
    </div>
    <div class="modal-body">
        <h4>Do you Want To Delete</h4>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="DeleteServiceProvider()">Delete</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
    </div>
</div>
</div>