<app-header></app-header>
<section class="admin-dashbord">
  <div class="container-fluid">
      <app-company-sidemenu></app-company-sidemenu>
          <div class="col-sm-9 right-side">
          <div class="graph-tab customer-das manage-dash-temp">
              
              <div class="page_heading_row mnage-user-forms">
                    <div class="col-sm-9">
                        <span class='page_heading'>View Milestone History</span>
                    </div>
                    <div class="row page_heading_row">
                      <div class="col-sm-3 page_heading_button"><button class='btn btn-success' (click)="backClicked()">Back</button></div>
                  </div>
                </div>
              
              <div class="table-responsive">
                  <table class="table table-bordered">
                      <thead>
                          <tr class="active">
                              <th>S.No.</th>
                              <th>Payment Status</th>
                              <th>Comments</th>
                              <th>Date</th>
                              <th>Status</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let u of ContractDetails; let row_no = index">
                            <td>{{row_no + 1}}</td>
                            <td>{{u.Payment_Status == 0 ?'Pending':'Complete'}}</td>
                            <td style='width:25%'>
                                {{u.comments}}
                            </td>   
                            <td>{{u.created_at | date:'mediumDate'}}</td>
                            <td>{{u.status_for_company}}</td>
                            
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          </div>
      </div>          
  </section>
<app-footer></app-footer>






