<app-header></app-header>
<section class="admin-dashbord">
<div class="container-fluid">
    <app-sidemenu></app-sidemenu>
        <div class="col-sm-9 right-side">
        <div class="graph-tab customer-das manage-dash-temp">
            <div class="row mnage-user-forms">
                <div class="col-sm-9">
                        <h3>Manage Subscription</h3>
                </div>
                <div class="col-sm-3">
                        <button class="btn btn-default" data-toggle="modal" data-target="#myModal3" style="min-width:150px;" (click)="formreset(heroFormyyyyy)">Add New Subscription</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="active">
                            <th>S.no</th>
                            <th>Package Name</th>
                            <th>Package Price</th>
                            <th>Number Of Contracts</th>
                            <th>Renewal Frequency</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-wht"  *ngFor="let u of ViewSubscription; let row_no = index">
                            <td>{{row_no + 1}}</td>
                            <td>{{u.packageName}}</td>
                            <td>{{u.packagePrice}}</td>
                            <td>{{u.numberOfContract}}</td>
                            <td>{{u.renewalFrequency}}</td>
                            <td><i class="fa fa-pencil" aria-hidden="true" style="margin-right:10px;" data-toggle="modal" data-target="#myModal4" (click)="changeModal(u)" type="clcikable;"></i><i class="fa fa-trash" aria-hidden="true" (click)="ConfrmDelete(u.idSubscriptions)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>        
</section>
<app-footer></app-footer>
<div class="modal fade" id="message" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Message</h4>
    </div>
    <div class="modal-body">
        <h4>Message! {{message}}</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
    </div>
</div>
</div>
<div class="modal fade" id="cnfrmDelete" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Message</h4>
    </div>
    <div class="modal-body">
        <h4>Do you Want To Delete</h4>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="DeleteSubscription()">Delete</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
    </div>
</div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="modal fade" id="myModal4">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit Subscription Plan</h4>
            </div>
            <div class="modal-body">
            <form (ngSubmit)="EditSubscription()" #heroFormxxxxx="ngForm">  
                <div class="form-group">
                <label  for="Packagename">Package Name</label>
                <input type="text" class="form-control" id="Packagename"
                required
                [(ngModel)]=subscriptionPlan.packageName name="Packagename"
                #Packagename="ngModel">
                <div [hidden]="Packagename.valid || Packagename.pristine"
                    class="alert alert-danger" style="margin-top:10px;">
                    <div [hidden]="!Packagename.hasError('required')">Package name is required</div>
                </div>
                </div>


                <div class="form-group">
                <label  for="PackagePrice">Package Price</label>
                <input type="text" class="form-control" id="PackagePrice"
                required
                pattern="[0-9]*"
                maxlength="10" 
                [(ngModel)]=subscriptionPlan.packagePrice name="PackagePrice"
                #PackagePrice="ngModel">
                <div [hidden]="PackagePrice.valid || PackagePrice.pristine"
                    class="alert alert-danger" style="margin-top:10px;">
                    <div class="ddddddd" [hidden]="!PackagePrice.hasError('required')">Package Price is required</div>
                    <div class="ddddddd" [hidden]="!PackagePrice.hasError('pattern')">Only Numbers Are Allowed</div>
                    <div [hidden]="!PackagePrice.hasError('maxlength')">Only 10 Numbers</div>
                </div>
                </div>


                <div class="form-group">
                <label  for="noOfcontract">Number Of Contracts</label>
                <input type="text" class="form-control" id="noOfcontract"
                required
                pattern="[0-9]*"
                maxlength="10" 
                [(ngModel)]=subscriptionPlan.numberOfContract name="noOfcontract"
                #noOfcontract="ngModel">
                <div [hidden]="noOfcontract.valid || noOfcontract.pristine"
                    class="alert alert-danger" style="margin-top:10px;">
                    <div class="ddddddd" [hidden]="!noOfcontract.hasError('required')">Number of Contract is required</div>
                    <div class="ddddddd" [hidden]="!noOfcontract.hasError('pattern')">Only Numbers Are Allowed</div>
                    <div [hidden]="!noOfcontract.hasError('maxlength')">Only 10 Numbers</div>
                </div>
                </div>


                <div class="form-group">
                <label  for="renewalfrequency">Renewal Frequency</label>
                <input type="text" class="form-control" id="renewalfrequency"
                required
                pattern="[0-9]*"
                maxlength="10" 
                [(ngModel)]=subscriptionPlan.renewalFrequency name="renewalfrequency"
                #renewalfrequency="ngModel">
                <div [hidden]="renewalfrequency.valid || renewalfrequency.pristine"
                    class="alert alert-danger" style="margin-top:10px;">
                    <div class="ddddddd" [hidden]="!renewalfrequency.hasError('required')">Renewal Frequency is required</div>
                    <div class="ddddddd" [hidden]="!renewalfrequency.hasError('pattern')">Only Numbers Are Allowed</div>
                    <div [hidden]="!renewalfrequency.hasError('maxlength')">Only 10 Numbers</div>
                </div>
                </div>

                <div class="form-group">
                <label style="margin-right:20px;">Status<span style="color:red">*</span></label>
                <input type="radio"  name="status" value="1"
                id="statusactive" #status="ngModel" required [(ngModel)]="subscriptionPlan.subscriptionstatus">Active<i style="margin-right:20px;"></i>
                <input type="radio"  name="status" value="0"
                id="statusinactive" #status="ngModel" required [(ngModel)]="subscriptionPlan.subscriptionstatus">InActive
                </div>
    
                <button type="submit" class="btn btn-success" [disabled]="!heroFormxxxxx.form.valid">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal3" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" >Add Subscription Plan</h4>
                </div>
                <div class="modal-body">
                      <form (ngSubmit)="AddSubscriptionPlan()" #heroFormyyyyy="ngForm">  
                              <div class="form-group">
                              <label  for="Packagename1">Package Name</label>
                              <input type="text" class="form-control" id="Packagename1"
                              required
                              [(ngModel)]=subscriptionPlan.packageName name="Packagename1"
                              #Packagename1="ngModel">
                              <div [hidden]="Packagename1.valid || Packagename1.pristine"
                                  class="alert alert-danger">
                                  <div [hidden]="!Packagename1.hasError('required')">Packagename is required</div>
                              </div>
                              </div>
      
      
                              <div class="form-group">
                              <label  for="PackagePrice1">Package Price</label>
                              <input type="text" class="form-control" id="PackagePrice1"
                              required
                              pattern="[0-9]*"
                              maxlength="10" 
                              [(ngModel)]=subscriptionPlan.packagePrice name="PackagePrice1"
                              #PackagePrice1="ngModel">
                              <div [hidden]="PackagePrice1.valid || PackagePrice1.pristine"
                                  class="alert alert-danger">
                                  <div [hidden]="!PackagePrice1.hasError('required')">PackagePrice is required</div>
                                  <div [hidden]="!PackagePrice1.hasError('pattern')">Only Numbers Are Allowed</div>
                                  <div [hidden]="!PackagePrice1.hasError('maxlength')">Only 10 Numbers</div>
                              </div>
                              </div>
      
      
                              <div class="form-group">
                              <label  for="noOfcontract1">Number Of Contracts</label>
                              <input type="text" class="form-control" id="noOfcontract1"
                              required
                              pattern="[0-9]*"
                              maxlength="10" 
                              [(ngModel)]=subscriptionPlan.numberOfContract name="noOfcontract1"
                              #noOfcontract1="ngModel">
                              <div [hidden]="noOfcontract1.valid || noOfcontract1.pristine"
                                  class="alert alert-danger">
                                  <div [hidden]="!noOfcontract1.hasError('required')">Number of Contract is required</div>
                                  <div [hidden]="!noOfcontract1.hasError('pattern')">Only Numbers Are Allowed</div>
                                  <div [hidden]="!noOfcontract1.hasError('maxlength')">Only 10 Numbers</div>
                              </div>
                              </div>
      
      
                              <div class="form-group">
                              <label  for="renewalfrequency1">Renewal Frequency</label>
                              <input type="text" class="form-control" id="renewalfrequency1"
                              required
                              pattern="[0-9]*"
                              maxlength="10" 
                              [(ngModel)]=subscriptionPlan.renewalFrequency name="renewalfrequency1"
                              #renewalfrequency1="ngModel">
                              <div [hidden]="renewalfrequency1.valid || renewalfrequency1.pristine"
                                  class="alert alert-danger">
                                  <div [hidden]="!renewalfrequency1.hasError('required')">Renewal Frequency is required</div>
                                  <div [hidden]="!renewalfrequency1.hasError('pattern')">Only Numbers Are Allowed</div>
                                  <div [hidden]="!renewalfrequency1.hasError('maxlength')">Only 10 Numbers</div>
                              </div>
                              </div>

                            <div class="form-group">
                            <label style="margin-right:20px;">Status<span style="color:red">*</span></label>
                            <input type="radio"  name="status" value="1"
                            id="statusactive" #status="ngModel" required [(ngModel)]="subscriptionPlan.subscriptionstatus">Active<i style="margin-right:20px;"></i>
                            <input type="radio"  name="status" value="0"
                            id="statusinactive" #status="ngModel" required [(ngModel)]="subscriptionstatus">InActive
                            </div>
                  
                              <button type="submit" class="btn btn-success" [disabled]="!heroFormyyyyy.form.valid">Submit</button>
                          </form>
                </div>
              </div>
            </div>
          </div>