<app-header></app-header>
<section class="admin-dashbord">
	<div class="container-fluid">
            <app-sidemenu></app-sidemenu>
        <div class="col-sm-9 right-side" *ngIf="Stats">
            <div class="top-content">
                <h4>Dashboard</h4>                
            </div>
            <div class="user-box" style="margin-top: 20px;">
            	<div class="col-sm-3">
                	<div class="box-user clearfix">
                    	<span class="pull-left"><img src="assets/images/user.png" alt="image"/></span>
                        <div class="pull-left">
                        	<span>{{Stats.total_customers}}</span>
                            <p>Registered Customers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-box">
            	<div class="col-sm-3">
                	<div class="box-user clearfix">
                    	<span class="pull-left"><img src="assets/images/user.png" alt="image"/></span>
                        <div class="pull-left">
                        	<span>{{Stats.service_providers}}</span>
                            <p>Registered Service Providers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-box">
            	<div class="col-sm-3">
                	<div class="box-user clearfix">
                    	<span class="pull-left"><img src="assets/images/user.png" alt="image"/></span>
                        <div class="pull-left">
                        	<span>{{Stats.milestone_total}}</span>
                            <p>Total Milestone Created</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-box">
            	<div class="col-sm-3">
                	<div class="box-user clearfix">
                    	<span class="pull-left"><img src="assets/images/user.png" alt="image"/></span>
                        <div class="pull-left">
                        	<span>{{Stats.milestone_completed}}</span>
                            <p>Milestone Completed</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-box">
            	<div class="col-sm-3">
                	<div class="box-user clearfix">
                    	<span class="pull-left"><img src="assets/images/user.png" alt="image"/></span>
                        <div class="pull-left">
                        	<span>{{Stats.total_contract}}</span>
                            <p>Total Contract Generated</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="clearfix"></div><br/><br/><br/><br/>
            <div class="row graph-wrapper">
               <div class="col-sm-6">
               	<div class="graph-tab">
                 <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Weekly Stats</a></li>
                    <li><a data-toggle="tab" href="#menu1">Monthly Stats</a></li>
                </ul>
                 <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <span><img src="assets/images/graph.jpg" alt="image"/></span>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <span><img src="assets/images/graph.jpg" alt="image"/></span>
                </div>
              </div>
              	</div>
                </div>
                <div class="col-sm-6">
                	<div class="message-box">
                    	<h4>Messages </h4>
                        <div class="row details">
                        	<div class="col-sm-2 image-are">
                            	<span></span>
                            </div>
                            <div class="col-sm-10 contenta-area">
                            	<h5>Jane Doe</h5>
                            	<p>Forem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod loma tempor incididunt ut labore et dolore magna aliqua...</p>
                            </div>
                        </div>
                        <!-- looping here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
        <a class="footer-logo"><img src="assets/images/footer-logo.png" alt="logo-footer"/></a>
</section>
<!--======================Footer start here=========================-->
<app-footer></app-footer>
<style>
        .user-box .col-sm-3 {margin-top: 10px;}
</style>

