<app-header></app-header>
<section class="admin-dashbord">
	<div class="container-fluid">
            <app-sidemenu></app-sidemenu>
        <div class="col-sm-9 right-side" *ngIf="Stats">
            <div class="top-content">
                <h4>Dashboard</h4>                
            </div>
            
            
            <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="timer-box timer-box1">
          <h2>Registered Customers</h2>
          <i class="fa icmn-users counter-icon" aria-hidden="true"></i>
          <div class="counter-count"> <span class="timersddsss" id='reg_customer_count' data-from="10" data-to="100" data-speed="10000">{{Stats.total_customers}}</span> </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="timer-box timer-box2">
          <h2>Registered Service Providers</h2>
          <i class="fa icmn-user counter-icon" aria-hidden="true"></i>
          <div class="counter-count"> <span class="timer_count_down" data-from="10" id='reg_provider_count' data-to="50" data-speed="10000">{{Stats.service_providers}}</span> </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="timer-box timer-box3">
          <h2>Total Milestone Created</h2>
          <i class="fa icmn-cash counter-icon" aria-hidden="true"></i>
          <div class="counter-count"> <span class="timer_count_down" data-from="10" id='milestone_count' data-to="250" data-speed="10000">{{Stats.milestone_total}}</span> </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="timer-box timer-box4">
          <h2>Milestone Completed</h2>
          <i class="fa icmn-stats-growth counter-icon" aria-hidden="true"></i>
          <div class="counter-count"> <span class="timer_count_down" data-from="10" id='milestone_completed_count' data-to="250" data-speed="10000">{{Stats.milestone_completed}}</span> </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="timer-box timer-box5">
          <h2>Total Contract Generated</h2>
          <i class="fa icmn-stairs-up counter-icon" aria-hidden="true"></i>
          <div class="counter-count"> <span class="timer_count_down" data-from="5" id='contract_generated_count' data-to="25" data-speed="10000">{{Stats.total_contract}}</span> </div>
        </div>
      </div>
      
      
    </div>
            
            
            
            
            <div class="clearfix"></div><br/><br/><br/><br/>
            
        </div>
    </div>        
</section>
<!--======================Footer start here=========================-->
<app-footer></app-footer>
<style>
        .user-box .col-sm-3 {margin-top: 10px;}
</style>
