<app-header></app-header>
<section class="admin-dashbord">
    <div class="container-fluid">
            <app-company-sidemenu></app-company-sidemenu>
          <div class="col-sm-9 right-side">
              <div class="graph-tab customer-das manage-dash-temp">
                <div class="page_heading_row row mnage-user-forms">
                    <div class="col-sm-9">
                        <span class='page_heading'>Generate Contract</span>
                    </div>
                    <div class="row page_heading_row">
                      <div class="col-sm-3 page_heading_button"><button class='btn btn-success' (click)="backClicked()">Back</button></div>
                  </div>
                </div>

        <div class="row">
          <div class="tab-content" style="padding:30px;">
                <form #genereate_contract_form="ngForm">  
                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-group">
                    <label>Select Customer<span style="color:red">*</span></label>
                    <select  class="form-control" id="customeremail" [(ngModel)]="Template.CustomerEmail" name="customeremail"
                    #customeremail="ngModel">
                        <option [ngValue]="null">--Select--</option>
                        <option *ngFor="let c of customers" [ngValue]="c.blockchain_id">{{c.Email}}</option>
                    </select>
                    </div>
                    </div>
<div class="col-md-6">
                    <div class="form-group">
                    <label  for="ContractName">Contract Name<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="ContractName"
                    required
                    maxlength="150" 
                    [(ngModel)]="Template.ContractName" name="ContractName"
                    #ContractName="ngModel">
                    <div [hidden]="ContractName.valid || ContractName.pristine"
                        class="alert alert-danger" style="margin-top:10px;">
                        <div [hidden]="!ContractName.hasError('required')">Contract Name is required</div>
                    </div>
                    </div>
</div></div>

 <div class="row">
                        <div class="col-md-6">
                   
                    <div class="form-group">
                    <label for="email">Email<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="email"
                    required
                    maxlength="50" 
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                    [(ngModel)]="Template.email" name="email"
                    #email="ngModel">
                    <div [hidden]="email.valid || email.pristine"
                        class="alert alert-danger" style="margin-top:10px;">
                        <div class="ddddddd" [hidden]="!email.hasError('required')">Email is required</div>
                        <div [hidden]="!email.hasError('pattern')">Enter a Valid Email Pattern</div>
                    </div>
                    </div>
            </div>
     
         <div class="col-md-6">
              <div class="form-group">
                        <label for="Price">Price ( ETH )<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="Price"
                        required
                        pattern="[0-9]*"
                        maxlength="10" 
                        [(ngModel)]="Template.Price" name="Price"
                        #Price="ngModel">
                        <div [hidden]="Price.valid || Price.pristine"
                            class="alert alert-danger" style="margin-top:10px;">
                            <div class="ddddddd" [hidden]="!Price.hasError('required')">This Field is required</div>
                            <div class="ddddddd" [hidden]="!Price.hasError('pattern')">Only Numbers Are Allowed</div>
                            <div [hidden]="!Price.hasError('minlength')">Only 10 Numbers</div>
                        </div>
                    </div>

        </div>
    </div>

                    <div class="row">

                        <div class="col-sm-6">
                            <label for="Price">Start Date<span style="color:red">*</span></label>
                            <my-date-picker name="mydate" [(ngModel)]="Template.Date" (dateChanged)="disableUntil($event)"
                            [options]="myOptions" required></my-date-picker>
                        </div>
                        <div class="col-sm-6">
                            <label for="Price">End Date<span style="color:red">*</span></label>
                            <my-date-picker name="myenddate" [(ngModel)]="Template.end_date" (dateChanged)="disableSince($event)"
                            [options]="myOptions" required></my-date-picker>
                        </div>

                    </div>
                    
                    
                   

                    <div *ngFor="let u of Milestones" style="margin-bottom:20px; padding:10px;background-color:#f1f1f1;">
                        <li class="btn btn-success" style="margin-left:90%;" (click)="RemoveMilestone()">Remove</li>
                        <h4>Milestone {{u.ID}}</h4>

                        <div class="row">
                            <div class="col-md-6">
                        <div class="form-group">
                        <label for="milestonename">Name<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="milestonename"
                        required
                        [(ngModel)]="u.milestonename" name="milestonename{{u.ID}}"
                        #milestonename="ngModel">
                        <div [hidden]="milestonename.valid || milestonename.pristine"
                            class="alert alert-danger" style="margin-top:10px;">
                            <div [hidden]="!milestonename.hasError('required')">This Field is required</div>
                        </div>
                        </div>
                            </div>
                            <div class="col-md-6">

                        <div class="form-group">
                        <label for="EOW">Execution of Work<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="EOW"
                        required
                        [(ngModel)]="u.WorkExecution" name="EOW{{u.ID}}"
                        #EOW="ngModel">
                        <div [hidden]="EOW.valid || EOW.pristine"
                            class="alert alert-danger" style="margin-top:10px;">
                            <div [hidden]="!EOW.hasError('required')">This Field is required</div>
                        </div>
                        </div>
                            </div>
                        </div>
                    
                   <div class="row">
                            <div class="col-md-6">
                        <div class="form-group">
                        <label for="schedule">Schedule<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="schedule"
                        required
                        [(ngModel)]="u.Schedule" name="schedule{{u.ID}}"
                        #schedule="ngModel">
                        <div [hidden]="schedule.valid || schedule.pristine"
                            class="alert alert-danger" style="margin-top:10px;">
                            <div [hidden]="!schedule.hasError('required')">This Field is required</div>
                        </div>
                        </div>
                            </div>
                        <div class="col-md-6">
                        <div class="form-group">
                        <label for="taxes">Taxes ( % )<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="taxes"
                        required
                        [(ngModel)]="u.Taxes" name="taxes{{u.ID}}"
                        #taxes="ngModel">
                        <div [hidden]="taxes.valid || taxes.pristine"
                            class="alert alert-danger" style="margin-top:10px;">
                            <div [hidden]="!taxes.hasError('required')">This Field is required</div>
                        </div>
                        </div>
                   </div>
                    </div>  
                        <div class="row">
                            <div class="col-md-6">
                        
                        <div class="form-group">
                        <label for="fees">Fees ( ETH )<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="fees"
                        required
                        pattern="[0-9]*"
                        maxlength="10" 
                        [(ngModel)]="u.Fees" name="fees{{u.ID}}"
                        #fees="ngModel">
                        <div [hidden]="fees.valid || fees.pristine"
                            class="alert alert-danger" style="margin-top:10px;">
                            <div class="ddddddd" [hidden]="!fees.hasError('required')">This Field is required</div>
                            <div class="ddddddd" [hidden]="!fees.hasError('pattern')">Only Numbers Are Allowed</div>
                            <div [hidden]="!fees.hasError('minlength')">Only 10 Numbers</div>
                        </div>
                        </div>
                            </div>
                            <div class="col-md-6">
                        <div class="form-group">
                        <label for="penalty">Penalties ( % )<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="penalty"
                        required
                        [(ngModel)]="u.Penalties" name="penalty{{u.ID}}"
                        #penalty="ngModel">
                        <div [hidden]="penalty.valid || penalty.pristine"
                            class="alert alert-danger" style="margin-top:10px;">
                            <div [hidden]="!penalty.hasError('required')">This Field is required</div>
                        </div>
                        </div>
                            </div>
                        </div>
                        <div class="row">
                                
                            <div class="col-sm-6">
                                <label for="Price">Start Date<span style="color:red">*</span></label>
                                <my-date-picker name="mymilestonedate{{u.ID}}" [(ngModel)]="u.StartDate" 
                                [options]="myOptions" required></my-date-picker>
                            </div>

                            <div class="col-sm-6">
                                <label for="Price">End Date<span style="color:red">*</span></label>
                                <my-date-picker name="myenddatemilestonedate{{u.ID}}" [(ngModel)]="u.EndDate" 
                                [options]="myOptions" required></my-date-picker>
                            </div>
    
                        </div>

                    </div>

                    <div class="form-group">
                        <li class="btn btn-success" (click)="AddMilestone()">Add Milestone(s)</li>
                    </div>

                    
                        <div class="row">
                        
                            <div class="col-md-6" *ngFor="let u of Fields">
                                 <div class="form-group">
                        <label for="{{u.INPUT_FIELD}}">{{u.INPUT_FIELD}}<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="{{u.INPUT_FIELD}}"
                        required
                        [(ngModel)]="u.Value_Input" name="{{u.INPUT_FIELD}}" [ngModelOptions]="{standalone: true}"
                        #u.INPUT_FIELD="ngModel">
                        </div>
                        </div>
                        
                    </div>

                    <button type="submit" class="btn btn-success" (click)= "CreatePDF()" [disabled]="!genereate_contract_form.form.valid">Submit</button>                    
                    <button type="submit" class="btn btn-success" (click)= "PreviewContract()">Preview</button>                    
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>      
</section>
<app-footer></app-footer>
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="modal fade" id="myModal222222" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Message</h4>
    </div>
    <div class="modal-body">
            <p>{{preview}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
    </div>
</div>
</div>
<div class="modal fade" id="message" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Message</h4>
    </div>
    <div class="modal-body">
        <h4>Message! {{message}}</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
    </div>
</div>
</div>