  <!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-body">
        <div class="row">
        	<div class="col-sm-5 col-xs-5"><img src="assets/images/login.jpg" alt="signin" class="img-responsive"/></div>
            <div class="col-sm-7 col-xs-7 form-area">
            	<button class="close" data-dismiss="modal">X</button>
            	<h3>Login</h3>
                <form (ngSubmit)="Login()" #heroForm="ngForm">

                    <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" id="email"
                        required
                        [(ngModel)]="model.email" name="email" #name="ngModel">
                        <div [hidden]="name.valid || name.pristine"
                            class="alert alert-danger">
                        Email is required
                        </div>
                    </div>

                    <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" id="password"
                        required
                        [(ngModel)]="model.password" name="password" #name="ngModel">
                        <div [hidden]="name.valid || name.pristine"
                            class="alert alert-danger">
                        Password is required
                        </div>
                    </div>

                    <div class="form-group">
                    <label>Select User Type</label>
                    <select (change)="onChange($event.target.value)">
                        <option *ngFor="let u of User">{{u}}</option>
                    </select>
                    </div>

                    <div class="checkbox form-group">
                        <label>
                          <input type="checkbox"> <span style="font-weight:300;">Remember me</span>
                        </label>
                       <a href="#" class="pull-right color-blue">Forgot Password</a>
                    </div>
                    <div class="checkbox form-group">
                        <button type="submit" class="btn btn-success">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-body">
        <div class="row">
        	<div class="col-sm-5 col-xs-5 imag-ht"><img src="assets/images/register.jpg" alt="signin" class="img-responsive"/></div>
            <div class="col-sm-7 col-xs-7 form-area">
            	<button class="close" data-dismiss="modal">X</button>
            	<h3>Register</h3>
                <div class="rgister-tab">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                    	<form (ngSubmit)="Register()" #heroForm="ngForm">
                            <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" id="name"
                                    required
                                    [(ngModel)]="model.name" name="name"
                                    #name="ngModel">
                            <div [hidden]="name.valid || name.pristine"
                                    class="alert alert-danger">
                                Name is required
                            </div>
                            </div>

                            <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" id="email"
                                required
                                [(ngModel)]="model.email" name="email" #name="ngModel">
                                <div [hidden]="name.valid || name.pristine"
                                    class="alert alert-danger">
                                Email is required
                                </div>
                            </div>

                            <div class="form-group">
                            <label>Password</label>
                            <input type="text" class="form-control" id="password"
                                required
                                [(ngModel)]="model.password" name="password" #name="ngModel">
                                <div [hidden]="name.valid || name.pristine"
                                    class="alert alert-danger">
                                Password is required
                                </div>
                            </div>
                            
                            <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" id="phone"
                                required
                                [(ngModel)]="model.phone" name="phone" #name="ngModel">
                                <div [hidden]="name.valid || name.pristine"
                                    class="alert alert-danger">
                                Password is required
                                </div>
                            </div>

                            <div class="form-group">
                            <label>Select User Type</label>
                            <select (change)="onChange($event.target.value)">
                                <option *ngFor="let u of User">{{u}}</option>
                            </select>
                            </div>

                            <div class="checkbox form-group">
                                    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Register</button>
                            </div>
                        </form>
                    </div>
                  </div>
                
                </div>
            </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<section class="top-header">
    <header class="bs-docs-nav navbar navbar-static-top" id="top">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a href="#" class="navbar-brand"><img src="assets/images/logo.png" alt="logo"/></a> </div>
        <nav class="collapse navbar-collapse" id="bs-navbar">
          <ul class="nav navbar-nav navbar-right">                    
            <li><a href="http://localhost:3000/embark">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQ,s</a></li>
            <li class="signin"><a href="#" data-toggle="modal" data-target="#myModal">Sign in</a></li>
            <li class="getstrted"><a href="#" data-toggle="modal" data-target="#myModal2">Register</a></li>
          </ul>
        </nav>
        
      
      </div>
    </header>
    
    <div class="banner">
    	<div class="container">
        	<div class="row">
            <div class="col-xs-8 col-sm-8 col-md-7">
            	<h2>Now Create Digital Contract </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. Nunc id maximus turpis. Phasellus condimentum felis at imperdiet lacinia. </p>
                <a href="#" class="btn btn-default get-start-btn">Get Started</a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-5"><img src="assets/images/top-banner-1.png" alt="image" class="img-responsive"/></div>
            </div>
            
        </div>
    </div>
</section>

<!--======================navigation ends here=========================-->


<section class="services-box">
	<div class="container">
    	<h2>How it Works</h2>
        
        <div class="services-tabs">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Service Provider</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Customer</a></li>
          </ul>
        
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
            	<div class="container">
                	<div class="row">
                    	<div class="col-sm-3">
                        	<figure class="icon-cont">
                            	<img src="assets/images/register.png" alt="icon"/>
                                <h4>Register</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                            </figure>
                        </div>
                        <div class="col-sm-3">
                        	<figure class="icon-cont">
                            	<img src="assets/images/add-service.png" alt="icon"/>
                                <h4>Add Services</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                            </figure>
                        </div>
                        <div class="col-sm-3">
                        	<figure class="icon-cont">
                            	<img src="assets/images/add-client.png" alt="icon"/>
                                <h4>Add Client</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                            </figure>
                        </div>
                        <div class="col-sm-3">
                        	<figure class="icon-cont">
                            	<img src="assets/images/complete.png" alt="icon"/>
                                <h4>Complete Services & Get Paid</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
            	<div class="container">
                	<div class="row">
                    	<div class="col-sm-3">
                        	<figure class="icon-cont">
                            	<img src="assets/images/complete.png" alt="icon"/>
                                <h4>Complete Services & Get Paid</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                            </figure>
                        </div>
                        <div class="col-sm-3">
                        	<figure class="icon-cont">
                            	<img src="assets/images/add-service.png" alt="icon"/>
                                <h4>Add Services</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                            </figure>
                        </div>
                        <div class="col-sm-3">
                        	<figure class="icon-cont">
                            	<img src="assets/images/register.png" alt="icon"/>
                                <h4>Register</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                            </figure>
                        </div>
                        <div class="col-sm-3">
                        	<figure class="icon-cont">
                            	<img src="assets/images/add-client.png" alt="icon"/>
                                <h4>Add Client</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>

<section class="avail-benifits">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-4">
            	<div class="avail-box av-box1">
                	<h3>Avail<br>
                    Benefits of Blockchain Based 
                    <span class="color-difr">Smart Contract Generator</span></h3>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="avail-box2">
                	<h3>Benefit One</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                    <button class="btn btn-default"> Read More</button>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="avail-box2">
                	<h3>Benefit One</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                    <button class="btn btn-default"> Read More</button>
                </div>
            </div>
            
             <div class="col-sm-4">
            	<div class="avail-box2">
                	<h3>Benefit One</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                    <button class="btn btn-default"> Read More</button>
                </div>
            </div>
            
             <div class="col-sm-4">
            	<div class="avail-box2">
                	<h3>Benefit One</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                    <button class="btn btn-default"> Read More</button>
                </div>
            </div>
            
             <div class="col-sm-4">
            	<div class="avail-box2">
                	<h3>Benefit One</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. </p>
                    <button class="btn btn-default"> Read More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="demos" class="container">
	<h2 class="color-blue text-center">What Our Happy Customers Says</h2>
      <div class="row">
        <div class="large-12 columns">
          <div class="owl-carousel owl-theme">
            <div class="item">
             <div class="row">
             	<div class="col-sm-2"><img src="assets/images/lady-image.png" alt="image"/></div>
                <div class="col-sm-10"><h4>Aliana james</h4><p>Managing Director, Aliana Electric Corporation</p></div>
             </div>
             <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. Nunc id maximus turpis. Phasellus condimentum felis at imperdiet lacinia. Aenean in leo non sem scelerisque sodales in sit amet nisi. In cursus volutpat risus, vel faucibus orci vehicula id. ”</p>
            </div>
            <div class="item">
                 <div class="row">
             	<div class="col-sm-2"><img src="assets/images/lady-image.png" alt="image"/></div>
                <div class="col-sm-10"><h4>Aliana james</h4><p>Managing Director, Aliana Electric Corporation</p></div>
             </div>
             <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. Nunc id maximus turpis. Phasellus condimentum felis at imperdiet lacinia. Aenean in leo non sem scelerisque sodales in sit amet nisi. In cursus volutpat risus, vel faucibus orci vehicula id. ”</p>
            </div>
            <div class="item">
                 <div class="row">
             	<div class="col-sm-2"><img src="assets/images/lady-image.png" alt="image"/></div>
                <div class="col-sm-10"><h4>Aliana james</h4><p>Managing Director, Aliana Electric Corporation</p></div>
             </div>
             <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. Nunc id maximus turpis. Phasellus condimentum felis at imperdiet lacinia. Aenean in leo non sem scelerisque sodales in sit amet nisi. In cursus volutpat risus, vel faucibus orci vehicula id. ”</p>
            </div>
            <div class="item">
                 <div class="row">
             	<div class="col-sm-2"><img src="assets/images/lady-image.png" alt="image"/></div>
                <div class="col-sm-10"><h4>Aliana james</h4><p>Managing Director, Aliana Electric Corporation</p></div>
             </div>
             <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. Nunc id maximus turpis. Phasellus condimentum felis at imperdiet lacinia. Aenean in leo non sem scelerisque sodales in sit amet nisi. In cursus volutpat risus, vel faucibus orci vehicula id. ”</p>
            </div>
            <div class="item">
              <h4>5</h4>
            </div>
            <div class="item">
                 <div class="row">
             	<div class="col-sm-2"><img src="assets/images/lady-image.png" alt="image"/></div>
                <div class="col-sm-10"><h4>Aliana james</h4><p>Managing Director, Aliana Electric Corporation</p></div>
             </div>
             <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. Nunc id maximus turpis. Phasellus condimentum felis at imperdiet lacinia. Aenean in leo non sem scelerisque sodales in sit amet nisi. In cursus volutpat risus, vel faucibus orci vehicula id. ”</p>
            </div>
            <div class="item">
                 <div class="row">
             	<div class="col-sm-2"><img src="assets/images/lady-image.png" alt="image"/></div>
                <div class="col-sm-10"><h4>Aliana james</h4><p>Managing Director, Aliana Electric Corporation</p></div>
             </div>
             <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus dui, laoreet placerat sodales sit amet, sodales in purus. Nunc id maximus turpis. Phasellus condimentum felis at imperdiet lacinia. Aenean in leo non sem scelerisque sodales in sit amet nisi. In cursus volutpat risus, vel faucibus orci vehicula id. ”</p>
            </div>
           
          </div>
          </div>
          
        </div>
    </section>
 
<section class="pricing-plane">
	<div class="container">
    	<h2 class="text-center color-blue">Our Pricing Plans</h2>
        <div class="row">
        	<div class="col-sm-4">
            	<div class="price-box">
                	<div class="price">
                    	<span class="doller-box">$80</span>
                        <span class="plane">Basic plan</span>
                    </div>
                    <ul>
                    	<li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                    </ul>
                    <button class="btn btn-default blue-btn">Try It</button>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="price-box">
                	<div class="price">
                    	<span class="doller-box">$120</span>
                        <span class="plane">Medium Plan</span>
                    </div>
                    <ul>
                    	<li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                    </ul>
                    <button class="btn btn-default blue-btn">Try It</button>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="price-box">
                	<div class="price">
                    	<span class="doller-box">$150</span>
                        <span class="plane">High Plan</span>
                    </div>
                    <ul>
                    	<li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                        <li><a href="#">Plan Benefit1</a></li>
                    </ul>
                    <button class="btn btn-default blue-btn">Try It</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="free-30days">
	<div class="container">
    	<h2 class="text-center color-blue">Try it for Free For 30 Days</h2>
        <button class="btn blue-btn center-block">Start your Free Trial</button>
        <a href="#"><img src="assets/images/footer-logo.png" alt="logo-footer"/></a>
    </div>
</section>

<footer>
	<div class="container">
    	<div class="footer-nav text-center">  
        	<a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Hot it works</a>
            <a href="#">Benefits</a>
            <a href="#">Payments Plans</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Blog</a>
            <a href="#">FAQ,s</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="text-center social-icon">
        	<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>

<div class="copy-right">
	<p class="text-center">© Copyright 2017 Smart Contract Generator. All rights reserved.</p>
</div>

