<footer>
<div class="container">
    <div class="footer-nav text-center">  
        <a routerLink="/">Home</a>
          <a routerLink="/about">About</a>
          <a routerLink="/services">Services</a>
          <a routerLink="/payment">Payments Plans</a>
          <a routerLink="/termsCondition">Terms & Conditions</a>
          <a routerLink="/privacy">Privacy Policy</a>
          <a routerLink="/blog">Blog</a>
          <a routerLink="/faq">FAQ,s</a>
          <a routerLink="/contact">Contact Us</a>
      </div>
      <div class="text-center social-icon">
        <a routerLink="/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a routerLink="/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          <a routerLink="/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
  </div>
</footer>
<div class="copy-right">
<p class="text-center">© Copyright 2017 Smart Contract Generator. All rights reserved.</p>
</div>
