body{-webkit-font-smoothing: subpixel-antialiased;
-webkit-text-stroke:1px transparent;}
body, p, h1, h2, h3, h4, a{font-family: 'Roboto', sans-serif;}
.top-header{ background-image:url(../images/top-banner.jpg);background-repeat: no-repeat;height: 500px; background-size: cover; position: relative;}
.navbar-nav > li > a{ font-size: 16px; color: #fff;}
.navbar-nav > li > a:hover{ background:none; color:#333;}
.navbar-nav > li.signin{margin-right: 8px;}
.navbar-nav > li.signin > a{
	border: 1px solid #a5cedc;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
    border-radius: 3px;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar-nav > li.getstrted > a{
	border: 1px solid #a5cedc;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
    border-radius: 3px;
    padding-left: 25px;
    padding-right: 25px;
	}
#top .navbar-right{ margin-top:12px;}
.banner{
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
}
.banner p{font-family: 'Roboto', sans-serif; color:#fff; font-size:14px; font-weight: 300;}
.banner h2{ color:#fff; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 35px;}
.get-start-btn{
	background: transparent;
	color: #fff;
	border-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}
.services-box h2{ 
color: #54a1b7;
text-align: center;
font-weight: 300;
margin-top: 45px;
font-size: 35px;
}
.services-tabs .nav-tabs{
	text-align: center;
	border: none;
	width: 350px;
	margin: 30px auto;
	margin-bottom: 65px;
}
.services-tabs .nav-tabs li a{ color:#585858; font-size: 25px;
font-weight: 300;}
.services-tabs .nav-tabs li.active a{border:none; border-bottom: 2px solid #54a1b7; color:#54a1b7; }
.icon-cont{ display:block; text-align:center;}
.icon-cont h4{ font-size:24px;}
.icon-cont h4, p{ color:#585858; font-weight: 300;}
.services-box{padding-bottom: 50px;}
.avail-benifits{
	background: #f3f9fd;
	border-top: 1px solid #ddd;
	padding: 50px 0px;
}
.avail-box h3{
	font-weight: 300;
	font-size: 25px;
	line-height: 30px;
	margin: 0;
}
.avail-box h3 span.color-difr{
	color: #54a1b7;
   display: block;
}
.avail-benifits .avail-box2{
	background: #54a1b7;
	padding: 10px;
	min-height: 165px;
}
.avail-benifits .avail-box2 h3{
	margin: 0;
    margin-bottom: 0px;
color: #fff;
font-weight: 300;
margin-bottom: 5px;
}
.avail-benifits .avail-box2 p{
	color: #fff;
font-weight: 300;
}
.avail-benifits .avail-box2 button{
	background: no-repeat;
color: #fff;
border-color: #fff;
padding: 4px 15px;
font-weight: 300;
}
.avail-benifits .col-sm-4{ margin-bottom:30px;}
.avail-benifits .av-box1{transform: translateY(50%); -webkit-transform:translateY(50%);}
#demos .owl-carousel .owl-item{ opacity:0.5; margin:0;}
#demos .owl-carousel .owl-item.active.center{ opacity:1;}
.owl-nav{ display:none;}
#demos h4{ margin:0;}
#demos .owl-item.active{
	background: #f3f9fd;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}
.color-blue{ color:#54a1b7;
font-weight: 300;
margin-bottom: 50px;
}
#demos{padding: 29px 0px;}
.pricing-plane{ background-color:#e9faff; border-bottom:1px solid #ddd; border-top:1px solid #ddd;  border-bottom:1px solid #ddd; padding:30px 0px; padding-bottom:50px;}
.blue-btn{ background:#54a1b7; color:#fff;}

.price-box{
	background: #fff;
	padding: 30px 0px;
	box-shadow: 3px 3px 3px #888;
	border-radius: 5px;
	position:relative;
	width: 330px;
    margin: auto;
}
.price-box .price{margin: 20px 0px;}
.price-box .doller-box{
	display: block;
	width: 120px;
	height: 120px;
	border: 2px solid #54a1b7;
	border-radius: 60px;
	line-height: 120px;
	text-align: center;
	font-size: 40px;
	margin: auto;
	color: #54a1b7;
	font-weight: 300;
}
.price-box .plane{
	display: block;
	color: #54a1b7;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}
.price-box ul{ list-style:none; padding:0;}
.price-box ul li{
	border-bottom: 1px solid #ddd;
    padding: 5px 10px;
	background-image:url(../images/plane-checkbox.png);
	background-repeat:no-repeat;
	background-position:97%;
}
.price-box ul li a{
	color: #585858;
    font-weight: 300;
}
.price-box button{
	border: none;
	padding: 10px 40px;
	position: absolute;
	bottom: -17px;
	left: 0;
	right: 0;
	margin: auto;
	transition:all 0.5s;
}
.price-box button:hover{ background-color:#333; color:#fff;}
.free-30days{ padding:30px 0px 50px; position:relative;}
.free-30days a{
	display: inline-block;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 111%;
	margin: auto;
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	bottom: -32px;
}
.free-30days a > img{
	width: 50%;
margin: 28px auto 0;
}
.free-30days h2{ margin:0;}
.free-30days button{
	margin-top: 20px;
	padding: 10px 25px;
	transition: all 0.5s;
	margin-bottom: 50px;
}
.free-30days button:hover{ background:#333; color:#fff;}
footer{ background-color:#54a1b7; padding:30px 0px;}
footer .footer-nav{ margin-top:20px; margin-bottom:20px;}
footer .footer-nav a{ font-size:12px; color:#fff; margin:10px 10px; display:inline-block;}
.social-icon a{ 
	display: inline-block;
	background: #fff;
	width: 40px;
	border-radius: 50px;
	height: 40px;
	margin-right: 6px;
	color: #54a1b7;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	
}
.social-icon a i{transition:all 0.5s;}
.social-icon a:hover i{ transform:rotate(360deg);}
.copy-right{ background:#505050;}
.copy-right p{ margin:0; padding:10px 0px; color:#fff;}
#myModal .modal-dialog{ width:700px;}
#myModal .modal-body{ padding:0;}
#myModal .modal-dialog .modal-content{ border-radius:0;}
#myModal .modal-body .form-area h3{ 
	color: #585858;
	font-weight: 300;
	text-align: center;
	margin-bottom: 45px;
	margin-right: 30px;
	position:relative;
}
#myModal .modal-body .form-area h3:after{ 
	content: "";
	position: absolute;
	bottom: -14px;
	background: #57a3bd;
	width: 100px;
	height: 1px;
	left: 0;
	right: 0;
	margin: auto;
}
#myModal .modal-body .form-area form{margin-right: 30px;}
#myModal .modal-body .form-area button{margin-top: 15px; padding: 6px 25px;
border-color: #57a3bd;
color: #585858;}
#myModal .modal-body .form-area .not-acoout{
	background: #ddd;
	padding: 16px;
	margin-top: 26px;
	margin-left: -30px;
	text-align: center;
}
#myModal .modal-body .form-area .close{
	padding: 0;
	position: absolute;
	right: 22px;
	font-size: 14px;
	background: #ddd;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	color: #fff;
	opacity: 1;
	top: -11px;
}


#myModal2 .modal-dialog .modal-content{ border-radius:0;}
#myModal2 .modal-body .form-area h3{ 
	color: #585858;
	font-weight: 300;
	text-align: center;
	margin-bottom: 45px;
	margin-right: 30px;
	position:relative;
}
#myModal2 .modal-body .form-area h3:after{ 
	content: "";
	position: absolute;
	bottom: -14px;
	background: #57a3bd;
	width: 100px;
	height: 1px;
	left: 0;
	right: 0;
	margin: auto;
}
#myModal2 .modal-body .form-area form{margin-right: 30px;}
#myModal2 .modal-body .form-area button{margin-top: 15px; padding: 6px 25px;
border-color: #57a3bd;
color: #585858;}
#myModal2 .modal-body .form-area .not-acoout{
	background: #ddd;
	padding: 16px;
	margin-top: 26px;
	margin-left: -30px;
	text-align: center;
}
#myModal2 .modal-body .form-area .close{
	padding: 0;
	position: absolute;
	right: 22px;
	font-size: 14px;
	background: #ddd;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	color: #fff;
	opacity: 1;
	top: -11px;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

#myModal2 .modal-dialog{ width:700px;}
#myModal2 .modal-body{ padding:0;}

#myModal2 .rgister-tab .nav-tabs{
	border: 0;
margin-bottom: 25px;
}
#myModal2 .rgister-tab .nav-tabs li.active a{ border:none; border-bottom:2px solid #57a3bd; color:#333;}
#myModal2 .rgister-tab .nav-tabs li a{ color:#585858; font-weight: 300; font-size: 16px;}
#myModal2 .imag-ht{height: 532px;}
#myModal2 .imag-ht img{ height:100%;}
.nav-tabs > li > a:hover{border-color: #fff;}

/*==========================admin dashboard start here=================*/

.admin-dashbord{ background:#f2f2f2; position:relative;}
.admin-dashbord .footer-logo{
	display: block;
	background: #f2f2f2;
	width: 80px;
	height: 80px;
	border-radius: 50px;
	position: absolute;
	margin: auto;
	bottom: -33px;
	text-align: center;
	z-index: 9999;
	margin: auto;
	left: 0;
	right: 0;
	bottom: -29px;
}
.admin-dashbord .footer-logo img{
	transform: translateY(70%);
	text-align: center;
	width: 51%;
}
.admin-dashbord .container-fluid{ padding-left:0; padding-right:0;}
.admin-dashbord .left-side{
	background: #fff;
min-height: 600px;
}
ul{ list-style:none; padding:0;}


/*==========================admin dashboard ends here=================*/
#top{ background:#57a3bd; min-height:75px; margin-bottom: 0;}
.navbar-brand img{ width:200px;}
.admin-dashbord .left-side{padding: 0;}
.admin-dashbord .left-side aside{}
.admin-dashbord .left-side aside li.active{ background: #e4f8ff;}
.admin-dashbord .left-side aside li.active a{ color:#57a3bd;}
.admin-dashbord .left-side aside li:hover{ background: #e4f8ff; text-indent: 10px;}
.admin-dashbord .left-side aside li ul{display:none;}
.admin-dashbord .left-side aside li.manage-user:hover{ background: transparent;}
.admin-dashbord .left-side aside li{
	padding-left: 15px;    
	border-bottom:1px solid #f1f1f1;
	transition:all 0.5s;
	}
	.dropdown{ padding:0px !important; border:none !important;}
.admin-dashbord .left-side aside li > i{ margin-right:10px;}
.admin-dashbord .left-side aside li a {
    font-size: 16px;
    font-weight: 300;
    color:#585858;
    position: relative;
    cursor: pointer;
    letter-spacing: 0.3px;
    display: block;
    padding: 15px 0px 15px 15px;    
    text-decoration: none;
    }
    .admin-dashbord .left-side aside li a:hover {
        color:#000;
        background: #57a3bd;
    }    
a:hover{ text-decoration:none;}
.top-content h4{ color:#54a1b7; font-weight:500; margin-top:20px; font-family: 'Roboto', sans-serif;}
.top-content p{ font-size:17px; font-family: 'Roboto', sans-serif;}
.user-box .box-user{
	background: #fff;
    padding: 10px;
    border: 1px solid #e1e1e1;
	}
.user-box{ margin-bottom:20px;}
.user-box .box-user > div{margin-top: 7px;}
.user-box .box-user > div > span{
	font-size: 17px;
    color: #585858;
    font-weight: 400;
	}
.graph-tab{ background-color:#fff; border: 1px solid #e1e1e1; min-height: 253px;}
.graph-tab ul{ border:none; margin-left: 5px;}
.graph-tab ul li a{border-bottom:2px solid #e1e1e1; color:#585858;}
.graph-tab ul li.active a{border-bottom:2px solid #57a3bd !important;
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	color:#57a3bd !important; font-weight:500;
	}
.graph-tab ul li.active a:hover{border-color:#57a3bd;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ border:none;}
.message-box{
	background: #fff;
padding: 10px;
border: 1px solid #e1e1e1;
}
.message-box h4{
	color: #7d7d7d;
	font-weight: 300;
	margin: 0;
	margin-bottom: 10px;
}
.message-box .image-are > span{
	display: block;
	width: 40px;
	height: 40px;
	background: #ddd;
	border-radius: 50px;
}
.message-box .contenta-area{padding-left: 0;}
.message-box .contenta-area h5{ margin:0; margin-bottom:5px; font-size:16px;}
.message-box .contenta-area p{ font-size:12px;}
.customer-das{ padding:15px;}
.date-frm .col-sm-2{ padding-right:0;}
.date-frm{ margin-bottom:15px;}

.scrollbar{
    cursor:n-resize;
    position:absolute;
    top:0px;
    right:0px;
    z-index:2;
    background:#444;
    width:17px;
    border-radius:8px;
}
th{ color:#57a3bd;}
.subscrip-btn button{
	border-color: #57a3bd;
margin-bottom: 15px;
padding: 5px 22px;
font-size: 14px;
font-weight: 300;
}
.addbtn button{
	border-color: #57a3bd;
padding: 4px 38px;
font-size: 16px;
font-weight: 300;
}
table tr td i{ color:#9b9b9b; font-size:18px;}
.bg-wht{ background:#fff;}
.contast-dashbord ul{ display:flex; margin-bottom: 40px;}
.contast-dashbord ul li{
	background: #e4f8ff;
	padding: 7px 17px;
	border-right: 1px solid #d6d5d5;
	border-bottom: 1px solid #d6d5d5;
	flex: 1 auto;
	-webkit-box-flex: 1 auto;
}
.contast-dashbord p{ margin:0;}	
.comn-btn{
	border-color: #57a3bd;
background: transparent;
padding: 4px 20px;
font-weight: 300;
}

.popuptable table tr td{ 
vertical-align: middle;
text-align: left;
}
.popuptable .copy-code{border: 1px solid #c6c8c9;}
.popuptable .copy-code .codes{
	padding: 7px 0px;
display: inline-block;
float: left;
padding-left: 10px;
}
.popuptable .copy-code .copy-img{
	display: inline-block;
width: 43px;
padding: 7px 0px;
float: right;
text-align: center;
border-left: 1px solid #c6c8c9;
}




















/*==========================responsive classes start here=================*/
@media only screen and (max-width:1280px){
.price-box{width: auto;}
.avail-box h3{font-size: 20px;}

}

@media only screen and (max-width:1100px){
.top-header{background-size: 100% 100%;}	

}

@media only screen and (max-width:1024px){
	.navbar-brand > img{ width:70%;}
	.avail-box h3{font-size: 20px;}
	.icon-cont h4{ font-size:18px;}
	.owl-carousel .owl-item img{ width:auto;}	
}
@media only screen and (max-width:768px){
.icon-cont{margin-bottom: 25px;}
.avail-benifits .av-box1{ transform:none;}
.navbar-toggle .icon-bar{background: #fff;}
}
@media only screen and (max-width:767px){
.navbar-header{min-height: 60px;}
#top .navbar-right{
	margin-top: 0;
background: #337b90;
}
.navbar-nav > li.signin{ margin-right:0;}
.navbar-nav > li.signin{border-bottom: 1px solid #bbb6b6;}
.navbar-nav > li.signin > a{ border:none; padding-top:10px; padding-bottom:10px; margin-top:0; border-radius:0;}	

.navbar-nav > li.getstrted > a{border:none; padding-top:10px; padding-bottom:10px; margin-top:0; border-radius:0;}
.navbar-nav > li > a{border-bottom: 1px solid #bbb6b6;}
.banner h2{ font-size:18px;}
.banner p{ font-size:12px;}

#myModal .modal-dialog{width: auto;}
#myModal .col-sm-5{ display:none;}
#myModal .form-area{ width:100%;}
#myModal .modal-body .form-area form{
	margin-right: 0;
	padding-left: 10px;
	padding-right: 10px;
}
#myModal .modal-body .form-area .not-acoout{
	background: #ddd;
	padding: 16px;
	margin-top: 26px;
	margin-left: 0;
	text-align: center;
}


#myModal2 .modal-dialog{width: auto;}
#myModal2 .col-sm-5{ display:none;}
#myModal2 .form-area{ width:100%;}
#myModal2 .modal-body .form-area form{
	margin-right: 0;
	padding-left: 10px;
	padding-right: 10px;
}
#myModal2 .modal-body .form-area .not-acoout{
	background: #ddd;
	padding: 16px;
	margin-top: 26px;
	margin-left: 0;
	text-align: center;
}
.date-frm .col-sm-2{
	padding-right: 15px;
margin-bottom: 15px;
}
.date-frm .col-sm-4{
	padding-right: 15px !important;
margin-bottom: 15px;
}
.admin-dashbord .left-side{min-height: auto;}
.graph-tab{margin-bottom: 67px;}
.navbar-nav > li.signin > a{ padding-left:15px;}
.navbar-nav > li.getstrted > a{ padding-left:15px;}
#top{min-height: 63px;}
.user-box .col-sm-3{ margin-bottom:15px;}
#home > span > img{ width:100%;}
.message-box .contenta-area{padding-left: 15px;}
.message-box{margin-bottom: 62px;}
#top .navbar-right{ margin-bottom:0;}
}
@media only screen and (max-width:640px){
	.top-header{height: 356px;}
	.banner{top: 156px; bottom:0;}
	.banner h2{ margin:0;}
	.navbar-brand{
		float: left;
		height: 50px;
		padding: 15px 15px;
		font-size: 18px;
		line-height: 20px;
		padding-right: 0;
		}
	.banner{top: 123px;}
	.services-tabs .nav-tabs li a{font-size: 20px;}
	.services-box h2{ font-size:28px;}
	}
@media only screen and (max-width:480px){
	.navbar-brand{width: 198px;}
	.navbar-brand > img{ width:100%;}
	#myModal2 .rgister-tab .nav-tabs li a{ font-size:12px;}
	}
	.ddddddd{
		margin-bottom: 10px;
	}
        .admin-dashbord .right-side .graph-tab {
            min-height: 698px;
        }
        .side_nav_active {
            color:#000;
            background: #9adcf3;
        }
        .active_parent_menu:before {
            background: #57a3bd;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 3px;
        }

        .datepicker__input { width: 100%; !important;height: 34px;padding: 6px 12px;}
        .datepicker {width:100% !important }
        a i { cursor: pointer; }
        a i.fa {font-size: 1.5em}
        a {cursor: pointer;}
        .templateimage {border: 5px dotted lightgray;}
        .caption_header {text-align: left;margin: 5px 5px 5px 0px;font-size: 14px;}
        .caption a {margin-left: 10px;font-size: 14px;}
        .page_heading {font-size: 24px;}
        .page_heading_button {width:150px;float: right;}
        .page_heading_row {margin-bottom: 10px;}